<!-- base.html -->
{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
  
    <title>Inspire Hackathon</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <link href="{% static 'DataTables/datatables.min.css' %}" rel="stylesheet">
  

    <script src="{% static 'DataTables/datatables.min.js' %}"></script>
    


    <!-- Other CSS files -->
    <!-- Favicons -->
    <link href="{% static 'img/favicon.png' %}" rel="icon">
    <link href="{% static 'img/apple-touch-icon.png' %}" rel="apple-touch-icon">
  
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Jost:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
  
    <!-- Vendor CSS Files -->
    <link href="{% static 'vendor/aos/aos.css' %}" rel="stylesheet">
    <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
    <link href="{% static 'vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet">
    <link href="{% static 'vendor/glightbox/css/glightbox.min.css' %}" rel="stylesheet">
    <link href="{% static 'vendor/remixicon/remixicon.css' %}" rel="stylesheet">
    <link href="{% static 'vendor/swiper/swiper-bundle.min.css' %}" rel="stylesheet">
  
    <!-- Template Main CSS File -->
    <link href="{% static 'css/style.css' %}" rel="stylesheet">  
  </head>
  <body>
    <!-- HEADER -->
    <header id="header" class="fixed-top header-inner-pages">
      <div class="container d-flex align-items-center">
  
        <h1 class="logo me-auto"><a href="index.html">INSPIRE</a></h1>
        <!-- Uncomment below if you prefer to use an image logo -->
        <!-- <a href="index.html" class="logo me-auto"><img src="{% static  'img/logo.png" alt="" class="img-fluid"></a>-->
        <nav id="navbar" class="navbar">
              <ul>
                  <li><a class="nav-link scrollto active" href="index.html">Home</a></li>
                  {% if user.is_authenticated and user.is_staff %}
                    <li><a class="nav-link scrollto" href="{% url 'admin:index' %}">Admin</a></li>
                  {% endif %}
                  {% if request.path == '/chat/' %}
                      <li><a class="getstarted scrollto" href="{% url 'logout' %}">Logout</a></li>
                  {% elif request.path == '/dashboard_facility/' %}
                      <li><a class="getstarted scrollto" href="{% url 'logout' %}">Logout</a></li>
                  {% elif request.path == '/hdss/' %}
                  <li><a class="getstarted scrollto" href="{% url 'logout' %}">Logout</a></li>
                  {% else %}
                      <li><a class="getstarted scrollto" href="{% url 'register' %}">Create Account</a></li>
                  {% endif %}
              </ul>
              <i class="bi bi-list mobile-nav-toggle"></i>
          </nav><!-- .navbar -->
  
      </div>
    </header><!-- End Header -->
    
    <!-- Content -->
    <main id="main">
        <!-- ======= Breadcrumbs ======= -->
        

        <section class="inner-page">
            <div class="container"></div>
                {% block content %}
                {% endblock %}
            </div>
        </section>
    </main><!-- End #main -->

    <footer id="footer">

        
    
        <div class="footer-top">
          <div class="container">
            <div class="row">
    
              <div class="col-lg-3 col-md-6 footer-contact">
                <!--<h3>Inspire Network</h3>-->
                <p>
                Inspire Network 2024<br>
                </p>
              </div>
    
          <div class="credits">
            <!-- All the links in the footer should remain intact. -->
            <!-- You can delete the links only if you purchased the pro version. -->
            <!-- Licensing information: https://bootstrapmade.com/license/ -->
            <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/arsha-free-bootstrap-html-template-corporate/ -->
            Designed by <a href="">SheScribe</a>
          </div>
        </div>
      
      </footer><!-- End Footer -->
    
    <div id="preloader"></div>
    <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>


    <!-- Vendor JS Files -->
    <script src="{% static 'vendor/aos/aos.js' %}"></script>
    <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'vendor/glightbox/js/glightbox.min.js' %}"></script>
    <script src="{% static 'vendor/isotope-layout/isotope.pkgd.min.js' %}"></script>
    <script src="{% static 'vendor/swiper/swiper-bundle.min.js' %}"></script>
    <script src="{% static 'vendor/waypoints/noframework.waypoints.js' %}"></script>
    <script src="{% static 'vendor/php-email-form/validate.js' %}"></script>

    <!-- Bootstrap JS -->
    <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <!-- Your custom JS -->
    <script src="{% static 'js/main.js' %}"></script>
    {% block extra_js %}{% endblock %}
  </body>
</html>
